body {
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}


.navbar {
    height: 70px;
    width: 100%;
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

button {
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
button:hover{
    color: ghostwhite;
}
     
.name{
    font-size: 40px;
    color: white;
   
}

.logo{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    background-color: blue;
/* background-color: green; */
background-image: url(2.jpg);
background-repeat: no-repeat;
background-size: cover;
}

.top{
    display: flex;
 flex-direction: row;   
 align-items: center;
 gap: 20px;
 /* background-color: green; */
 background-image: url(1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

.main{
    display: flex;
    flex-direction: column;
 align-items: center;
   height: 70%;
   width: 100%; 
   /* background-c  olor: rgb(47, 13, 236); */

}

.tatay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
 height: 50%;
 width: 100%;
 background-color: #000000;
}

.nanay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.productCon{
    height: 90%; 
    width: 250px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 10px;

} 

.image, .image2, .image3, .image4, .image5, .image6, .image7, .image8 {
 height: 80%;
 width: 100%;
 
 background-color: white;
}

.image{
    background-image: url(3.jpg);
    background-size: cover;
}
.image2{
    background-image: url(4.jpg);
    background-size: cover;
}
.image3{
    background-image: url(5.jpg);
    background-size: cover;
}
.image4{
    background-image: url(6.jpg);
    background-size: cover;
}
.image5{
    background-image: url(7.jpg);
    background-size: cover;
}
.image6{
    background-image: url(8.jpg);
    background-size: cover;
}
.image7{
    background-image: url(11.jpg);
    background-size: cover;
}
.image8{
    background-image: url(10.jpg);
    background-size: cover;
}
.text, .text2, .text3, .text4, .text5, .text6, .text7, .text8 {
 height: 10%;
 width: 100%; 
 background-color: aqua;
 display: flex;
 justify-content: center;
}